page-order {
    .tabbar {
        .tab-button {
            margin-bottom: 1rem;
            ion-icon {
                margin-top: 1rem;
                font-size: 4rem;
            }
        }
    }
}
