<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Shoppnig Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let storedItem of storedCartItems; let i = index">
      <ion-avatar item-start>
        <img src="{{storedItem.data.photo == '' ? './assets/img/no-image.jpg' : 'https://globalcare.com.pk/products/' + storedItem.data.photo}}">
      </ion-avatar>
      <h2>{{storedItem.data.title}}</h2>
      <h3><ion-icon name="pricetag"></ion-icon> {{storedItem.data.price}} PKR</h3>
      <h4>Quantity: {{storedItem.quantity}}</h4>
      <p *ngIf="storedItem.data.formula != ''">Formula: {{storedItem.data.formula}}</p>
      <ion-note item-end><a ion-button small (click)="updateCartItem(storedItem.data.id, 1)"><ion-icon name="add"></ion-icon></a><br/><a ion-button small (click)="updateCartItem(storedItem.data.id, -1)"><ion-icon name="remove"></ion-icon></a></ion-note>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-content>
      <h1 text-center>Total: {{getTotal()}} PKR</h1>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content text-center>
      <button ion-button (click)="checkout()">Checkout</button>
      <button ion-button (click)="openProductsPage()">Go Back</button>
    </ion-card-content>
  </ion-card>
</ion-content>
